* {
  margin: 0px;
  padding: 0px; 
  font-family: helvetica, arial, sans-serif;
}

.text-content {
  box-sizing: border-box;
  padding: 20px; 
  width: 100%;
  margin-bottom: 3em; 
  line-height: 160%;
}

.m-auto {
  margin: 0 auto;
}

.center-contain {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.center-row {
  flex-direction: row;
}

.center-column {
  flex-direction: column;
}



